header {
    text-align: center;
}

body{
    background: lightblue;
}

#chat {
    clear: both;
}

.nome-pessoa {
    font-weight: bold;   
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 600px;
    margin: auto;
}

.board-row {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 236px;
    margin: auto;
}

.cell {
    background: rgb(82, 197, 159);
    width: 20px;
    height: 20px;
}

.my-cell {
    background: rgb(82, 197, 159);
    width: 20px;
    height: 20px;
}

.foe-cell {
    background: rgb(82, 197, 159);
    width: 20px;
    height: 20px;
}